@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="nav-item">
    <button class="bg-primary"><i class="bi bi-star"></i> Saved <i class="bi bi-arrow-down"></i></button>
    <button>Location <i class="bi bi-chevron-double-down"></i></button>
    <button>Floor<i class="bi bi-chevron-double-down"></i></button>
    <button> Date Posted <i class="bi bi-chevron-double-down"></i></button>
    <button>Cost of Rooms</button>
    <button>Package Based</button>
    
    
     : which floor the room is located on
   
    
     : maybe single room , 1BHK etc...
</div>