@model IEnumerable<RentalSpaceModel>

<partial name="Filter" />
<h1> Seekers</h1>
<!--ITs like writing partial tag but here we also sending the model from this view to the partial view-->
@await Html.PartialAsync("ViewTemplate", Model)
