@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--LAODNG SCREEN-->
<div id="loading_screen" aria-hidden="true" style="width: 100% ; min-width:150px ">
    <span class="placeholder card-img-top flex-grow-1" width:"100%" style="height:100%"></span>
    <div class="card-body">
        <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-3"></span>
        </p>
        <a class="btn btn-secondary disabled placeholder col-9" aria-disabled="true"></a>
    </div>
</div>
<!-- LOADING SCREEN-->